[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
	description = MD-SAL: Model-Driven Service Adaptation Layer
[access "refs/*"]
	owner = group ldap/odl-gerrit-mdsal-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
	mergeContent = false
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
