[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[project]
[access "refs/*"]
	owner = group saml/odl-gerrit-mdsal-committers
	read = group GitHub Replication
	pushMerge = group Project Owners
[submit]
	action = inherit
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
